@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

.title {
    font-family: "Patrick Hand SC";
    font-size: 64px;
    line-height: 1px;
    text-shadow: 1px 4px 4px #00000040;
}

.sub-title{
    font-size: 32px;
    font-family: "Patrick Hand SC";
    line-height: 1px;
}