button {
    border-radius: 99px;
    border: 4px solid;
    padding: 0.5em 4em;
    font-family: inherit;
    background-color: var(--accent-color);
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 4px;
    
  }
  button:hover {
    border-color: var(--secondary-color);
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }